.news-head{
    color: orange;
    text-shadow: 2px 3px 3px teal;
    margin-top: 2rem;
}

.news-heading{
    font-size: 2rem;
    color: teal;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.loading{
    font-size: 3rem;
    text-align: center;
}

.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

@media only screen and (max-width: 600px) {
    .cardContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .navbar-app{
        margin-bottom: 30px;
    }
  }