.App{
  display: flex;
}
.navbar-app{
  width: 5%;
  /* background-color: red; */
  z-index: 99;
}
.news-app{
  width: 95%;
  text-align: center;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

@media only screen and (max-width: 785px) {
  .App{
    display: flex;
    flex-direction: column;
  }
}